// ------------------------------ SITE COLOR PALLETE (USING CSS VARIABLES INSTEAD OF SASS VARIABLES)
:root {
  --col-white: #fcfcfc;
  --col-brink-pink: #f7567c;
  --col-brink-pink-l: #f7564c;
  --col-cornsilk: #fffae3;
  --col-mid-blue-green: #99e1d9;
  --col-independence-lighter: #a99ec0;
  --col-independence: #5d576b;
  --col-independence-darker: #413d4b;
  --col-gray-0: #e9e9e9;
  --col-gray-1: #c8c8c8;
  --col-gray-2: #969696;
  --col-gray-3: #646464;
  --col-gray-4: #464646;
  --col-black: rgb(0, 0, 0);
  --box-shadow-mid: 0 0 3rem rgba(0, 0, 0, 0.5); // not a color
}
$col-black: black;
$fix: 0.6; //alpha for main background gradient
$screen-L: 75em; //1200px : 16 = 75
$size-L: calc(1200px / 16px) * 1em;
$size-ML: calc(1100px / 16px) * 1em;
$size-M: calc(900px / 16px) * 1em;
$size-SM: calc(600px / 16px) * 1em;
$size-S5: calc(500px / 16px) * 1em;
$size-S: calc(476px / 16px) * 1em;
// ------------------------------ FONTS
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
$open-sans: 'Open Sans';
// ------------------------------ GLOBAL RESETS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
  @media only screen and (max-width: $size-ML) {
    font-size: 50%;
  }
}
body {
  font-family: $open-sans, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(
    to bottom right,
    hsla(37.95, 100%, 77.06%, $fix) 0%,
    hsla(34.86, 100%, 76.97%, $fix) 9.4%,
    hsla(32.1, 100%, 76.89%, $fix) 17.6%,
    hsla(29.63, 100%, 76.82%, $fix) 24.8%,
    hsla(27.39, 100%, 76.75%, $fix) 31.2%,
    hsla(25.35, 100%, 76.7%, $fix) 37%,
    hsla(23.43, 100%, 76.64%, $fix) 42.4%,
    hsla(21.59, 100%, 76.59%, $fix) 47.5%,
    hsla(19.75, 100%, 76.55%, $fix) 52.5%,
    hsla(17.85, 100%, 76.5%, $fix) 57.6%,
    hsla(15.8, 100%, 76.44%, $fix) 63%,
    hsla(13.53, 100%, 76.39%, $fix) 68.8%,
    hsla(10.94, 100%, 76.32%, $fix) 75.2%,
    hsla(7.92, 100%, 76.25%, $fix) 82.4%,
    hsla(4.34, 100%, 76.17%, $fix) 90.6%,
    hsla(0, 100%, 76.08%, $fix) 100%
  );
  color: var(--col-independence);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

// ------------------------------ UNIVERSAL CLASSES
.margin-bottom {
  margin-bottom: 3rem;
}
// ------------------------------ MIXINS
@mixin box-shadow($x: 0, $y: 0, $spread: 2rem, $a: 0.5) {
  // box-shadow: $x $y $spread rgba(var(--col-black), $a);
  box-shadow: $x $y $spread rgba($col-black, $a);
}
