@import '_base.scss';
//------------------------------------ LOGO SVG
.logo {
  height: 5rem;
}
//------------------------------------ SEARCH SVG
.search__button {
  width: 5rem;
}
//------------------------------------ BANNER AND MESSAGE SVG
.user-nav__icon {
  height: 5rem;
}
//------------------------------------ BANNER SVG
.user-nav__icon--banner {
  background-color: salmon;
}
//------------------------------------ MESSAGE SVG
.user-nav__icon--message {
  background-color: red;
}
//------------------------------------ USER PHOTO
.user-nav__user-photo {
  width: 5rem;
}
