@import '_base.scss';
//+++++++++++++++++++++++++++++++++++++++++++++++++++++++ ICONS
//------------------------------------ LOGO SVG
.logo {
  height: 5rem;
  width: 5rem;
  margin-left: 3rem;
}
//------------------------------------ SEARCH SVG
.search__icon {
  width: 2.25rem;
  height: 2.25rem;
}
//------------------------------------ BANNER AND MESSAGE SVG
.user-nav__icon {
  height: 2.5rem;
  width: 2.5rem;
  filter: invert(39%) sepia(0%) saturate(3%) hue-rotate(187deg) brightness(98%)
    contrast(92%);
}
//------------------------------------ BANNER SVG
.user-nav__icon--banner {
}
//------------------------------------ MESSAGE SVG
.user-nav__icon--message {
}
//------------------------------------ USER PHOTO
.user-nav__user-photo {
  width: 3.75rem;
  border-radius: 50%;
}
//+++++++++++++++++++++++++++++++++++++++++++++++++++++++ SEARCH SECTION
.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  &__input {
    font-family: inherit;
    font-size: inherit;
    font-weight: 800;
    background-color: var(--col-gray-1);
    border: none;
    color: var(--col-black);
    padding: 0.7rem 2rem;
    border-radius: 10rem;
    width: 30%;
    transition: all 0.3s;
    margin-left: 1rem;
    &:focus {
      width: 100%;
      outline: none;
      background-color: var(--col-gray-4);
      color: var(--col-white);
    }
    &::placeholder {
      font-weight: 100;
      color: var(--col-gray-4);
    }
  }
  &__button {
    border: none;
    background-color: transparent;
    order: -1;
    &:focus {
      outline: none;
    }
  }
  &__icon {
  }
}
//+++++++++++++++++++++++++++++++++++++++++++++++++++++++ USER NAVIGATION
.user-nav {
  display: flex;
  align-items: center;
  // justify-content: center;
  // background-color: rgb(128, 128, 255);
  margin-right: 3rem;
  &__icon-box {
    margin-right: 3rem;
    position: relative;
  }
  &__icon {
  }
  &__notification {
    font-size: 1rem;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    position: absolute;
    background-color: var(--col-brink-pink);
    text-align: center;
    left: 1.4rem;
    top: -0.5rem;
    color: var(--col-white);
  }
  &__user {
    display: flex;
  }
  &__user-photo {
  }
  &__user-name {
    align-self: center;
    margin-left: 1rem;
  }
}
