// ------------------------------ SITE COLOR PALLETE
$col-white: #fcfcfc;
$col-brink-pink: #f7567c;
$col-cornsilk: #fffae3;
$col-mid-blue-green: #99e1d9;
$col-independence: #5d576b;
// ------------------------------ UNIVERSAL RESETS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $col-independence;
}
// ------------------------------ X
// ------------------------------ X
// ------------------------------ X
